.tp {
    height: 100%;
    margin: 0;
}

.tp-bg {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/mobilkamu/harga/images/city_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.btn-search {
    background-color: #0077C7 !important;
    color: #fff !important;
    cursor: pointer;
}

.nav-bg {
    background-color: #F6921E;
}